<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ftw.weather.mapper.SeoulMapper">
	
	<select id="view" resultType="com.ftw.weather.vo.SeoulVO">
		select nowtemp, nowweath
		from seoul
	</select>

</mapper>