<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ftw.weather.mapper.TodayMapper">
	
	<select id="list" resultType="com.ftw.weather.vo.TodayVO">
		select * from(
			select rownum rnum, local, weather, temp, humid
			from(
		select local, weather, temp, humid
		from weather2
		<include refid="search" />
		order by local desc
			)
		)
		where rnum between #{startRow} and #{endRow}
	</select>
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from weather2
	</select>

<!-- 전체글의 갯수를 구한다. : select -->
 <select id="getRow" resultType="java.lang.Integer">
  select count(*) from weather2
  <!-- 조건이 있는 경우 조건에 맞는 데이터의 전체 갯수를 구해야 한다. -->
  <include refid="search" />
 </select>
 
 <!-- 반복되어 지거나 복잡한 경우 따로 선언을 하고 가져다 쓸 수 있도록 정의해 놓은 것 -->
 <sql id="search">
  <if test="word !=null and word != ''.toString">
   where ( 2 = 1
   <if test="key == 'l'.toString()">
       or local like '%'||#{word}||'%'
	</if>
   )
  </if>

</sql>

</mapper>